<nav class="navbar navbar-expand topbar mb-4 px-4 py-3">
  <div class="container-fluid">
      <a href="/" class="btn btn-outline rounded-pill d-flex align-items-center gap-2">
        <i class="fas fa-arrow-left"></i>
        Trang chủ
      </a>
      <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
              <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown-menu">
                  <img src="http://localhost:3000/img/<%= user.image %>" width="20" height="20" class="rounded-circle">
                  <span class="user-name"><%= user.fullname %></span>
              </a>
          </li>
      </ul>
  </div>
</nav>