<div class="col-auto col-md-2 px-sm-2 px-0 sidebar">
  <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-4">
      <h3 class="fs-4 mb-4 text-white"><a href="/">WebGia.com</a></h3>
      <ul class="nav flex-column w-100 mb-auto">
          <li class="nav-item">
              <a href="/admin" id="home" class="nav-link">
                  <i class="fas fa-tachometer-alt me-2"></i>
                  <span>Thống kê</span>
              </a>
          </li>
          <li class="nav-item">
              <a href="/admin/users" id="users" class="nav-link">
                  <i class="fas fa-users me-2"></i>
                  <span>Thông tin khách hàng</span>
              </a>
          </li>
          <li class="nav-item">
            <a href="/admin/profile" id="user" class="nav-link">
                <i class="fas fa-user me-2"></i>
                <span>Thông tin cá nhân</span>
            </a>
        </li>
      </ul>
  </div>
</div>
<script>
  const url = window.location.href;
  if (url.includes('/admin/users')) {
    document.getElementById('users').classList.add('active');
  } else if (url.includes('/admin/profile')) {
    document.getElementById('user').classList.add('active');
  } else {
    document.getElementById('home').classList.add('active');
  }

</script>